logs
*.log
npm-debug.log*
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
node_modules
.npm
.node_repl_history
transform.sh
old
.eslintrc.json
jsconfig.json
.vscode
scripts
typings